* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; /* Ensures padding and borders are included in the element's total width and height */
}

body {
  /* optional: define base font, color, etc. */
  background-color: #000;
  height: 100vh;
  width: 100vw;
  align-self: center;
}

#canvas{
    position: relative;
    display: block;
    margin: auto;
    background-color: #051307;
    height: 90vh;
    width: 120vh;
    margin-top: 5vh;
}

.blue_soldiers{
    position: absolute;
    background-color: rgb(2, 2, 63);
    height: 10vh;
    width: 3vh;
    left: 2vh;
    top: 50%;
}
.red_soldiers{
    position: absolute;
    background-color: rgb(63, 2, 2);
    height: 10vh;
    width: 3vh;
    right: 2vh;
    top: 50%;
}